html, body {
  margin: 0;
  padding: 0;
}
#header {
  margin: 0;
  padding: 0;
  height: 50px;
}
#head_container {
  position: fixed;
  top: 0; right: 0; left: 0;
  height: 50px;
  box-shadow: 0 1px 3px #000;
  background-color: #f77255;
}
#hamburger {
  width: 50px;
  cursor: pointer;
  /* transition: transform .3s; */
}
#hamburger .hamb_layer {
  border-radius: 12px;
  display: block;
  width: 25px;
  height: 4px;
  margin: 5px 12px;
  margin-top: 0;
  background-color: #fff;
/*   transition: width .3s, transform .3s, margin .3s; */
}
#hamburger #first_hamb_layer { margin-top: 14px; }
#nav_touch_bar {
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 10px;
}
#nav_draw {
  position: fixed;
  top: 50px;
  left: -270px;
  bottom: 0;
  width: 270px;
  box-shadow: 0 1px 3px #000;
  background-color: #fff;/* #a439fb; */
  /* transition: left .3s; */
}
#nav_draw span {
  display: block;
  border-top: 1px solid white;
  padding: 10px;
  text-align: center;
  background-color: #f80711;
}
#nav_draw #nav_draw_head {
  display: block;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 50px;
  padding: 50px 0;
  text-align: center;
  background-color: #57d3a5;
}
